// Used Only for _base.scss... do not touch!!

// Colors
$grey: #dddddd;

// Spacing
$space: 1.4rem; // KEEP

// Font Sizes
$base-font-size: 1.4rem; // KEEP
$large-font-size: 1.8rem;  // KEEP

// Form inputs
$input-border: $grey; // KEEP
$input-spacing: 1rem; // KEEP

// Header
$header-padding-top: 5rem; // KEEP