.item {
    background: $item-bg;
    border: 1px solid $item-border;
    border-radius: 5px;
    margin-bottom: $space;
    padding: $space;
}

.item__message {
    color: $item-text-color;
}

.item__status {
    color: $item-text-color;
    font-style: italic;
    text-align: center;
    margin: 0;
}

.item__center {
  text-align: center
}

.item__label {
  line-height: 2;
}

.item__label label {
  text-align:center;
  vertical-align:middle; 
}